.notification-base {
  color: #000;
  border: 1px solid #290a0a80;
  border-right: unset;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  margin-top: 3px;
  cursor: pointer;

  .notification-title {
    font-weight: 900;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    letter-spacing: 3px;
  }

  .notification-content {
    text-align: center;
    font-weight: bold;
  }

  &.success {
    background-color: rgba(0, 129, 22, 0.902);
  }
  &.info {
    background-color: rgba(199, 199, 199, 0.902);
  }
  &.error {
    background-color: rgba(185, 11, 11, 0.9019607843);
  }
}
